body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blueviolet; */
}
/* .box   {
   width: 200px;
   height: 200px;
   border: 6px solid white;
   border-top-color: blue;
   border-radius: 50%;
   animation: 1s ease-in-out myAnimation 3;
   display: flex;
} */

@keyframes myAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box span{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}
.box span:nth-child(1) {
    animation: 1s ease-in-out myAnimation infinite;
}
.box span:nth-child(2) {
    animation: 1s ease-in-out 0.333s  myAnimation infinite;
}
.box span:nth-child(3) {
    animation: 1s ease-in-out 0.667s myAnimation infinite;
}
@keyframes myAnimation {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(-20px) scale(1.3);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}