body {
    display: flex;
}
.container {
    height: 400px;
    width: 480px;
    margin: 16px auto;
    border: black 4px solid;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;   
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-content: center;
    /* align-items: center; */
}
.box {
    width: 80px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
.blueBox {
    order: 0;
}
