.container{
    width: 400px;
    height: 150px;
    border: 2px solid black;
    position: relative;
    padding: auto;
    margin: 20px;
    overflow: hidden;
}
.box1{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    position: absolute;
    background-color: red;
    margin: 10px;
}
.box2{
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    position: absolute;
    left: 120px;
    top: 0;
    background-color: green;
    margin: 15px;
}
.box3{
    width: 100px;
    height: 100px;
    color:turquoise;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 50px;
    background-color: blue;
    margin: 20px;
    z-index: -1;
}
.box3 span{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    background-color: yellow;
    color: black;
    padding: 2px;
}
.video-link{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border: 2px solid #333;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: pink;
    transition: background-color 0.8s, color 0.1s;
    position: relative;
}
.css{
    display: block;
    width: max-content;
    height: max-content;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-top: 5px;
    position: absolute;
    bottom: 30px;
    left: 125px;
    transform: translateX(-50%);
    border: black 2px solid;
    border-radius: 10px;
    background-attachment: fixed;
    background-color: green;
}