@{
    ViewData["Title"] = "Home Page";
}
<form action="\Home\Login">
    <table>
        <tr>
            <td>Kullanıcı Adı</td>
            <td>:</td>
            <td><input type="text" name="UserName"/></td>
        </tr>
        <tr>
            <td>Şifre</td>
            <td>:</td>
            <td><input type="password" name="UserPass"/></td>
        </tr>
        <tr>
            <td colspan="3"><input type="submit" value="Gönder"/></td>
        </tr>
    </table>
</form>

