/* #pagetitle{
    color: red;
         }
.orangecolor {
    color: orange;
         }
#title{
    color: aqua;
} */
/* external kısmı */
li{
    color: purple;
}
h1{
    color: yellow;
}