<div class="row">
    <div class="col-md-4">
        <h2>Kitaplık Uygulaması</h2>
        <p>
            Kitaplık uygulaması
            Entity Framework Core ile
            Asp.Net core MVC Web uygulaması geliştirilmiştir.
        </p>
    </div>
    <div class="col-4">
        <h2>Yazarlar</h2>
        <p>Yazarlar bölümünde yazarlar eıkleyip, düzenleyebilirsiniz.</p>
    </div>
    <div class="col-4">
        <h2>Kitaplar</h2>
        <p>kitaplar bölümünde yazarlar eıkleyip, düzenleyebilirsiniz.</p>
    </div>
</div>